beautifulsoup4==4.9.3  # https://pypi.org/project/beautifulsoup4/

requests==2.25.1  # https://pypi.org/project/requests/

flake8==3.9.2

pytest==6.2.4 # https://pypi.org/project/pytest/
pytest-cov==2.12.1  # https://github.com/pytest-dev/pytest-cov
pytest-html==1.22.1
pytest-mock==3.6.1 # https://pypi.org/project/pytest-mock/
pytest-sugar==0.9.4  # https://github.com/Frozenball/pytest-sugar

simplejson==3.16.0 # https://simplejson.readthedocs.io/en/latest/
pre-commit==2.15.0
black==21.11b1
pathlib==1.0.1
colorize==1.1.0
image_to_Ascii==0.3
climage==0.1.3
simple-imshow==1.0.post1
scipy==1.7.3
numpy==1.21.4
