beautifulsoup4==4.9.3  # https://pypi.org/project/beautifulsoup4/
requests==2.25.1  # https://pypi.org/project/requests/
simplejson==3.16.0 # https://simplejson.readthedocs.io/en/latest/
pathlib==1.0.1
colorize==1.1.0
image_to_Ascii==0.3
pydantic==1.8.2
setuptools==58.4.0
climage==0.1.3
Pillow==8.4.0
pytest==6.2.4 # https://pypi.org/project/pytest/
pytest-mock==3.6.1 # https://pypi.org/project/pytest-mock/
pandas==1.3.5